.arrow {
  --transition-duration: 300ms;

  position: relative;
  display: block;
  width: 34px;
  height: 2px;
  background-color: var(--color-main);
  transition: transform var(--transition-duration),
    opacity var(--transition-duration);
}

.arrow::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;

  border: 5px solid var(--color-main);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.arrow--left::after {
  left: 0;
  transform: translate(-00%, -48%) rotate(45deg);

  border-right: none;
}

.arrow--right::after {
  right: 0;
  transform: translate(-00%, -48%) rotate(-45deg);

  border-left: none;
}
