:root {
  --font-main: "Montserrat", "Arial", sans-serif;
  --font-lead: "Bodoni", "Times New Roman", serif;
  --color-main: #121212;
  --color-secondary: #898989;
  --color-accent: #f46717;
  --background-main: #f5f5f5;
  --background-accent: #d28154;

  --slider-shift: 330px;
  --slider-height: 945px;

  --animation-duration: 1000ms;
}
